body {
    background-image: url(Yanken.jpg);
    background-size: 100px;
    min-height: 100%;
    padding: 50px 20px;
    margin:0;
    position: relative;
    background-repeat: repeat;
}

.imgBack {
    overflow: hidden;
    background-repeat: inherit;
    border-radius: 4px;
    width: 150px;
}

.window {
    width: 80%;
    height: 80%;
    min-height: 700px;
    min-width: 450px;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.window h2 {
    font-size: auto;
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}

.choice2 {
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rock, .rok {
    border-radius: 90%;
    padding: 10px;
    min-width: 30px;
    max-width: 90px;
    cursor: pointer;
}

.paper, .pap {
    border-radius: 80%;
    padding: 5px;
    min-width: 40px;
    max-width: 100px;
    cursor: pointer;
}

.scissors, .sci {
    border-radius: 80%;
    padding: 5px;
    min-width: 40px;
    max-width: 100px;
    cursor: pointer;
}

.window p {
    font-size: 20px;
}
.window h3 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}